<div style="width: 50%; margin-left: 25%">
    <mat-card *ngFor="let blogEntry of (dataSource | async)?.items" style="margin-top: 15px">
        <div style="display: flex; padding: 1rem">
            <div>
                <img *ngIf="blogEntry.headerImage !== null; else placeHolderImage" src="http://localhost:3000/api/blog-entries/image/{{blogEntry.headerImage}}">
                <ng-template #placeHolderImage>
                    <img src="../../../assets/placeholders/placeholder.jpg">
                </ng-template>
            </div>
            <div style="margin-left: 1.75rem;">
                <h2>{{blogEntry.title}}</h2>
                <h3>{{blogEntry.description}}</h3>
                <small>Author: {{blogEntry.author.name}}</small>
            </div>         
        </div>        
    </mat-card>
    <mat-paginator 
        [length]="(dataSource | async)?.meta.totalItems"
        [pageSize]="(dataSource | async)?.meta.itemsPerPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPaginateChange($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>
