<div *ngIf="(blogEntry$ | async) as blogEntry" class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <div style="display: flex; flex: 1 2 0;">
                <div>
                    <img *ngIf="blogEntry.headerImage !== null; else placeHolderImage" src="{{origin}}/api/blog-entries/image/{{blogEntry.headerImage}}" class="header-image">
                    <ng-template #placeHolderImage>
                        <img src="../../../assets/placeholders/placeholder.jpg" class="header-image">
                    </ng-template>
                </div>
                <div style="margin-left: 1.25rem;">
                    <h1>{{blogEntry.title}}</h1>
                    <h2>{{blogEntry.description}}</h2>
                    <small>{{blogEntry.createdAt}}</small>
                    <h3>Author: {{blogEntry.author.name}}</h3>
                    <a routerLink="../../users/{{blogEntry.author.id}}">Go to author profile</a>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div style="margin-top: 2rem;">
                <markdown [data]="blogEntry.body"></markdown>
            </div>
        </mat-card-content>
    </mat-card>
</div>