.header-image {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.25rem;
    width: 18rem;
}

.card {
    width: 70%;
    max-width: 70%;
    margin-top: 2%;
}

.main-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}