<h1 style="text-align: center;">Register Page</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-form-field>
            <input matInput placeholder="Full name" formControlName="name">
            <mat-hint *ngIf="registerForm.get('name')?.errors">Full name is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Your username" formControlName="username">
            <mat-hint *ngIf="registerForm.get('username')?.errors">Username is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Your email" formControlName="email">
            <mat-hint *ngIf="registerForm.get('email')?.errors">Email is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Your Password" formControlName="password">
            <mat-hint *ngIf="registerForm.get('password')?.errors">Password is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Your Password Again" formControlName="passwordConfirm">
            <mat-hint *ngIf="registerForm.get('passwordConfirm')?.errors">Password does not match</mat-hint>
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="!registerForm.valid" type="submit">Register</button>
    </div>

</form>

<h3 *ngIf="registerForm.controls.password.invalid">Form contains the following errors-</h3>
<p *ngIf="registerForm.get('password')?.hasError('passwordInvalid')">Password not secure yet. Should contain at least one lowercase letter, one uppercase letter, one digit, one special character and should be 8 characters long</p>
<p *ngIf="registerForm.hasError('passwordsNotMatching')">Passwords don't macth</p>

 